<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<div class="grid-container">
  <div class="nav">    
    <div class="logo">
     <h1>Banta<span class="head-stop">.</span></h1>
    </div>
    <h5>Channels</h5>
    <ul>
    </ul>
  </div>
		<div class="convo">
		</div>
		<div class="message">
		</div>
</div>

<script>

app = new App({nav: '.nav', msgContainer:'.convo',message_area: '.message', user_id: <%= current_user.id %>});

document.addEventListener("DOMContentLoaded", function(event) {
	
});

</script>