<div class="sign-in-container">
    <div class="sign-in-msg">
        <h1>Whaddup Homes!</h1>
        
        <div class="hero-buttons">
            <%= render 'login' %>
        </div>
    </div>
</div>