// Place all the styles related to the ChatRooms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'vars';
@import url('https://fonts.googleapis.com/css?family=Tajawal:400,500,700');
@import url('https://fonts.googleapis.com/css?family=Black+Han+Sans|Rajdhani');

body{
    margin: 0px!important;
}
.logo {
    position: absolute;
    top: 20px;
    width: 100%;
    background-color: $black;
    padding: 10px 0px;
}

.grid-container {
   display: grid;
   grid-template-columns: 120px auto;
   grid-template-rows: 120px auto;
   grid-template-areas: 'menu convo' 'menu convo' 'menu convo';
   position: relative;
   height: 100vh;
}

.header {
    grid-area: header;
    position: fixed;
    height: 100px;
    background-color: $off-grey;
    width: 100%;
    left: 125px;
    height: 125px;
}

.header h1{
    font-size: 40px;
    font-family: 'Tajawal';
    font-weight: 700;
    color: $off-grey;
}

.nav {
    grid-area: menu;
    position: fixed;
    top: 0px;
    bottom: 0px;
    background-color: $dark-grey;
    color: $off-grey;
    width: 125px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 100;
    text-align: center;

    .destroy {
        position: absolute;
        bottom: 0px;
        display: block;
        width: 100%;

        a {
            color: white;
            font-weight: bold;
            display: block;
            width: 100%;
            padding: 15px 0px;
            background-color: black;
        }
    }

    span.head-stop{
        color: $red;
    }

    h1 {
        margin: 0px;
    }

    h5 {
        width: 100%;
        background-color: $black;
        padding: 10px;
        color: #d8e9ef;
        text-transform: uppercase;
        margin-bottom: 0px;
    }


    ul {
        list-style-type: none;
        padding: 0px;
        width: 100%;

        li{
            width: 100%;
            text-align: center;
            padding: 5px;
        

        &:hover {
            background-color: $dark-grey;
        }
        &.active{
            background-color: $red;
            color: white;
            a {
                background-color: $red;
                
                &:hover {
                    background-color: $red;
                }
            }
        }

            a{
                display: block;
                color: white;     
                &:hover {
                    background-color: $dark-grey;
                    text-decoration: none;
                }
            }
        }
    }
}


.convo {
    grid-area: convo;
    background-color: #d8e9ef;
    position: relative;
    overflow-y: scroll;
    height: 100vh;
    padding-bottom: 100px;
    // background-image: url('/images/background.png');
    background-size: contain;
    background-position: center;

    &.index{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
}

.message {
    grid-area: message;
    height: 50px;
    /* width: 100%; */
    position: fixed;
    bottom: 0px;
    right: 0px;
    left: 125px;
    transition: 0.3s all ease-in-out;

    &.on{
        height: 100px;
    }
    

    .submit-btn{
        position: absolute;
        right: 0px;
        background-color: $red;
        display: inline-block;
        padding: 6px 12px;
        color: white;
        width: 20%;
        height: 100%;
        font-size: 25px;
        font-family: 'Rajdhani';
        transition: 0.3s all ease-in-out;

        &:hover{
            font-size: 28px;
        }
    }
    textarea{
        width: 80%;
        height: 50px;
        
        resize: none;
    }
}

.bubble {
    padding: 10px 20px;
    // border: 1px solid #454552;
    border-radius: 5px;
    position: relative;
    margin-bottom: 5px;
    margin-top: 5px;
    align-self: flex-start;
    display: flex;
    flex-direction: column;
    width: 50%;
    clear: both;
    background-color: white;
    margin-left: 13px;
    box-shadow: 0 1px 8px 0 rgba(0,0,0,.2), 0 3px 4px 0 rgba(0,0,0,.14), 0 3px 3px -2px rgba(0,0,0,.12);
    transition: all 0.3s cubic-bezier(0, 0.53, 0.34, 1.5);

    &.transition{
        opacity: 0;
        height: 10px;
        width: 10px;
        transition: all 0.3s cubic-bezier(0, 0.53, 0.34, 1.5);
    }

    span.username{
        display: block;
        font-weight: bold;
    }

    span.time {
        position: absolute;
        top: 5px;
        right: 13px;
        font-style: italic;

    }
}

.bubble.current{
    align-self: flex-end;
    // border: 3px solid $off-grey;
    float: right;
    margin-left: 0px;
    margin-right: 13px;
}

