// Place all the styles related to the ChatRooms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'vars';
@import url('https://fonts.googleapis.com/css?family=Tajawal:400,500,700');

body{
    margin: 0px!important;
}
.logo{
    position: absolute;
    top: 30px;
}

.grid-container {
   display: grid;
   grid-template-columns: 120px auto;
   grid-template-rows: 120px auto;
   grid-template-areas: 'menu convo' 'menu convo' 'menu convo';
   position: relative;
   height: 100vh;
}

.header {
    grid-area: header;
    position: fixed;
    height: 100px;
    background-color: #d8e9ef;
    width: 100%;
    left: 125px;
    height: 125px;
}

.header h1{
    font-size: 40px;
    font-family: 'Tajawal';
    font-weight: 700;
    color: $off-grey;
}

.nav {
    grid-area: menu;
    position: fixed;
    top: 0px;
    bottom: 0px;
    background-color: #454552;
    color: #d8e9ef;
    width: 125px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 100;
    text-align: center;

    span.head-stop{
        color: $red;
    }


    ul {
        list-style-type: none;
        padding: 0px;

        li{
            width: 100%;
            text-align: center;

            a{
                color: white;
            }
        }
    }
}


.convo {
    grid-area: convo;
    background-color: #d8e9ef;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    overflow-y: scroll;
    height: 100vh;
    padding-bottom: 100px;
    background-image: url('/images/bg.png')
}

.message {
    grid-area: message;
    height: 100px;
    /* width: 100%; */
    position: fixed;
    bottom: 0px;
    right: 0px;
    left: 125px;

    .submit-btn{
        position: absolute;
        right: 0px;
        background-color: $red;
        display: inline-block;
        padding: 6px 12px;
        color: white;
        width: 20%;
        height: 100%;
        font-size: 25px;
    }
    textarea{
        width: 80%;
        height: 100px;
        resize: none;
    }
}

.bubble {
    padding: 10px 20px;
    border: 1px solid #454552;
    border-radius: 5px;
    position: relative;
    margin-bottom: 10px;
    align-self: flex-start;
    display: flex;
    flex-direction: column;
    width: 50%;
    clear: both;
    background-color: white;
    margin-left: 13px;

    span.username{
        display: block;
        font-weight: bold;
    }

    span.time {
        position: absolute;
        top: 5px;
        right: 13px;
        font-style: italic;

    }
}

.bubble.current{
    align-self: flex-end;
    border: 3px solid #454552;
    float: right;
    background-color: #eee;
    margin-left: 0px;
    margin-right: 13px;
}

